<!DOCTYPE html>
<html lang="en">
<head>
  <title>India COVID-19 Data Archive</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <link rel="icon" type="image/png" href="favicon.png">
  <script src="js/tex.js"></script>
</head>

<body>
<main>


<h1><a href="./">India COVID-19 Data Archive</a></h1>

<p>
This website archives datewise case numbers for COVID-19 cases in India.
These case numbers are obtained only from official sources such as <a
href="https://pib.gov.in/">pib.gov.in</a> and <a
href="https://www.mohfw.gov.in/">mohfw.gov.in</a>. There are reference
links as supporting evidence for every entry on this page.
</p>

<p>
This website can be also be reached using <a
href="https://git.io/indiacovid19"><strong>git.io/indiacovid19</strong></a>
(a short link).
</p>


<h2 id="latest"><a href="#latest">Latest Update</a></h2>

<div class="latest">
  <a class="total" href="#{{ last_date }}">{{ last_total }}<br>Total Cases</a>
  <a class="active" href="#{{ last_date }}">{{ last_active }}<br>Active Cases</a>
  <a class="cured" href="#{{ last_date }}">{{ last_cured }}<br>Cured Cases</a>
  <a class="death" href="#{{ last_date }}">{{ last_death }}<br>Death Cases</a>
</div>

<p>
Last updated on
<strong class="date"><a href="#{{ last_date }}">{{ last_updated }}</a></strong>.
</p>

<p>
<strong class="total"><a href="#new-cases-graph">{{ new_cases }}</a></strong>
new cases
(<strong class="total"><a href="#growth-percent-graph">{{ new_growth }}</a></strong>
increase) since the previous day.
</p>

<p>
Total number of cases has doubled in the last
<strong class="total"><a href="#doubling-time-graph">{{ doubled_days }}
days</a></strong>.
</p>


<h2 id="contents"><a href="#contents">Contents</a></h2>

<ul>
  <li><a href="#latest">Latest Update</a></li>
  <li><a href="#total-cases-graph-linear">Total Cases Graph (Linear Scale)</a></li>
  <li><a href="#total-cases-graph-logarithmic">Total Cases Graph (Logarithmic Scale)</a></li>
  <li><a href="#new-cases-graph">New Cases Graph</a></li>
  <li><a href="#growth-percent-graph">Growth Percent Graph</a></li>
  <li><a href="#doubling-time-graph">Doubling Time Graph</a></li>
  <li><a href="#case-numbers">Case Numbers</a></li>
  <li><a href="#json">JSON Data</a></li>
  <li><a href="#faq">Questions and Answers</a></li>
</ul>


<h2 id="total-cases-graph-linear"><a
 href="#total-cases-graph-linear">Total Cases Graph (Linear Scale)</a></h2>
<a href="img/all-cases-linear.png"><img src="img/all-cases-linear.png"
  alt="India COVID-19 total cases graph in linear scale"></a>


<h2 id="total-cases-graph-logarithmic"><a
 href="#total-cases-graph-logarithmic">Total Cases Graph (Logarithmic Scale)</a></h2>
<a href="img/all-cases-logarithmic.png"><img src="img/all-cases-logarithmic.png"
  alt="India COVID-19 total cases graph in logarithmic scale"></a>


<h2 id="new-cases-graph"><a href="#new-cases-graph">New Cases Graph</a></h2>
<a href="img/new-cases.png"><img src="img/new-cases.png"
  alt="India COVID-19 new cases graph"></a>


<h2 id="growth-percent-graph"><a
  href="#growth-percent-graph">Growth Percent Graph</a></h2>
<a href="img/growth-percent.png"><img src="img/growth-percent.png"
  alt="India COVID-19 growth percent graph"></a>


<h2 id="doubling-time-graph"><a
 href="#doubling-time-graph">Doubling Time Graph</a></h2>
<a href="img/doubling-time.png"><img src="img/doubling-time.png"
  alt="India COVID-19 cases doubling time graph"></a>


<h2 id="case-numbers"><a href="#case-numbers">Case Numbers</a></h2>
<div class="caselinks">
{{ case_links }}
</div>
<table class="grid">
{{ case_rows }}
</table>

<p class="footnote" id="footnote1">
<sup>*</sup> The approximate number of days it took for the total number
of cases to double.
</p>

<p class="footnote" id="footnote2">
<sup>&dagger;</sup> Click on any time in the <em>References</em> column
to visit an archived reference that contains the numbers used in the
corresponding row. The time values in this column have been picked
directly from the archived reference. The time values are noted as per
Indian Standard Time (IST).
</p>

<p class="footnote" id="footnote3">
<sup>+Nd</sup> The time mentioned in the <em>References</em> column
belongs to a date that is <em>N</em> days ahead of the date of the entry
mentioned in the <em>Date</em> column. For example, in the entry for
date <a href="#2020-03-07"><em>2020-03-07</em></a>, the reference time
is mentioned as <em><sup>+2d</sup>12:29</em> which means that the
reference document was published on 2020-03-09 12:29.
</p>

<h2 id="json"><a href="#json">JSON Data</a></h2>

<p>
Click on the following link to view/download the raw JSON data from
which this page is generated:
</p>

<p class="textcenter">
<a href="indiacovid19.json"><strong>indiacovid19.json</strong></a>
</p>

<p>
This JSON file contains a list of list entries. Each inner list entry is
a octuple (8-tuple) consisting of 8 values. Here is an example entry:
</p>

<pre>
<code>[ "2020-03-25", 553, 42, 10, 1, "2020-03-25 18:45",
  "https://web.archive.org/web/20200325192939/https://www.mohfw.gov.in/", "" ]</code>
</pre>

<p>
Here is a description of these 8 values in the order they appear in each
octuple:
</p>

<ol>
  <li>
    Date (in "YYYY-MM-DD" format as per Indian Standard Time)
  </li>
  <li>
    Number of active cases
  </li>
  <li>
    Number of cured cases
  </li>
  <li>
    Number of death cases
  </li>
  <li>
    Number of migrated cases
  </li>
  <li>
    Date and time at which the data was collected/published by the
    source of the data (in "YYYY-MM-DD HH:MM" format as per Indian
    Standard Time)
  </li>
  <li>
    Reference archive link of the source of the data as supporting
    evidence
  </li>
  <li>
    Any additional comment or note about the entry
  </li>
</ol>

<p>
If we add the four numbers in an entry for a specific date, we get the
total number of cases for that date.
</p>

<p>
In this page, the sum of the number of cured cases and that of the
migrated cases is reported as the number of cured cases because the
MoHFW website too clubs them together in the statewise status tables.
</p>

<p>
If you find discrepancies in the data, please create <a
href="https://github.com/indiacovid19/indiacovid19/issues">new
issues</a> to report them or send pull requests to the corresponding
GitHub project at <a
href="https://github.com/indiacovid19/indiacovid19/">GitHub project</a>.
</p>


<h2 id="faq"><a href="#faq">Questions and Answers</a></h2>

<ol>
  <li id="faq1">
    <p class="question">
      Why was this project created when other similar projects already
      exist?
    </p>
    <p>
      Different projects have different conventions for reporting the
      numbers. Some projects follow the latest updates appearing in
      media to estimate the case numbers in real time. As a result, the
      case numbers in such projects often differ from the numbers
      officially published by Government of India. This project does not
      provide case numbers in real time. Instead, this project archives
      the case numbers for each date from official sources only.
    </p>
  </li>
  <li id="faq2">
    <p class="question">
      What sources are used for the case numbers archived in this
      project?
    </p>
    <p>
      The case numbers published as part of press releases on
      <a href="https://pib.gov.in/">pib.gov.in</a> and the case numbers
      published on <a href="https://www.mohfw.gov.in/">mohfw.gov.in</a>
      are used as the sources of the case numbers archived in this
      project.
  </li>
  <li id="faq3">
    <p class="question">
      Where can I find the original sources of the case numbers?
    </p>
    <p>
      For each row in the <a href="#case-numbers">case numbers</a>
      table, the last column contains reference archive links that point
      to archived snapshots of press releases or pages from
      <a href="https://pib.gov.in/">pib.gov.in</a> and <a
      href="https://www.mohfw.gov.in/">mohfw.gov.in</a> that contain the
      original data related to the case numbers.
    </p>
  </li>
  <li id="faq4">
    <p class="question">
      Where can I ask more questions or provide feedback about this
      project?
    </p>
    <p>
      To ask questions or provide feedback either
      <a
      href="https://github.com/indiacovid19/indiacovid19/issues">post
      new issues</a> to this project or
      <a href="https://twitter.com/compose/tweet?text=@susam+Hi!">send a
      tweet</a> to the author.
    </p>
  </li>
  <li id="faq5">
    <p class="question">
      How is this website generated?
    </p>
    <p>
      This website is generated using a couple of Python scripts
      available at <a
      href="https://github.com/indiacovid19/indiacovid19">github.com/indiacovid19</a>.
      The static site generator used for this project is a modified
      version of Sunaina Pai's <a
      href="https://github.com/sunainapai/makesite">makesite.py</a>.
      Here are the commands to generate this website:
<pre>
<code>git clone https://github.com/indiacovid19/indiacovid19.git
cd indiacovid19
make venv
make site</code>
</pre>
    </p>
  </li>
  <li id="faq6">
    <p class="question">
      What is the script
      <a href="https://github.com/indiacovid19/indiacovid19/blob/master/py/wiki.py">wiki.py</a>
      in the source code meant for?
    </p>
    <p>
      The script <a
      href="https://github.com/indiacovid19/indiacovid19/blob/master/py/wiki.py">wiki.py</a>
      is meant for generating Wikipedia markup code to draw the graph
      titled <a
      href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_India#Timeline">COVID-19
      cases in India</a> in the Wikipedia article titled <a
      href="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_India">2020
      Coronavirus Pandemic in India</a>. The output from this script is
      often used to update this graph on Wikipedia. To run this script,
      enter these commands:
    </p>
<pre>
<code>git clone https://github.com/indiacovid19/indiacovid19.git
cd indiacovid19
make wiki</code>
</pre>
  </li>
</ol>

</main>

<footer>
  <div>
    <div>
      <a href="https://twitter.com/susam"
         class="twitter-follow-button"
         data-show-count="true">Follow @susam</a>
      <script async src="https://platform.twitter.com/widgets.js"></script>
    </div>
    <div>
    <p>
      &copy; 2020 Susam Pal
    </p>
    <p>
      This is free and open source website.
      The source code of this website is available on
      <a href="https://github.com/indiacovid19/indiacovid19">GitHub</a>.
      You are welcome to modify and improve this website under the terms
      of the <a href="https://github.com/indiacovid19/indiacovid19/blob/master/LICENSE.md">MIT License</a>.
    </p>
    <p>
      To report bugs, suggest improvements, or ask questions,
      <a href="https://github.com/indiacovid19/indiacovid19/issues">create issues</a>.
    </p>
    </div>
    <div class="footerlinks">
      <a href="https://github.com/indiacovid19/indiacovid19">GitHub</a>
      <a href="https://twitter.com/susam">Twitter</a>
    </div>
  </div>
</footer>
</body>
</html>
