/* General */
body {
  margin: 0;
  line-height: 1.5;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  overflow-wrap: break-word;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5em;
  margin-top: 1em;
}

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0.5em;
}


/* Links */
h1 a:link, h1 a:visited,
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited,
h4 a:link, h4 a:visited,
h5 a:link, h5 a:visited,
h6 a:link, h6 a:visited,
.links a:link, .links a:visited,
.date a:link, .date a:visited {
  color: #333;
}

h1 a:hover, h1 a:active,
h2 a:hover, h2 a:active,
h3 a:hover, h3 a:active,
h4 a:hover, h4 a:active,
h5 a:hover, h5 a:active,
h6 a:hover, h6 a:active,
.links a:hover, .links a:active,
.date a:hover, .date a:active {
  color: #666;
}

a:link, a:visited {
  color: #03c;
  text-decoration: none;
}

a:hover, a:active {
  color: #03f;
  text-decoration: underline;
}

.caselinks {
  margin-bottom: 1em;
}

.caselinks span, .footerlinks a {
  margin-right: 1em;
}

.caselinks span:last-child, .footerlinks a:last-child {
  margin-right: 0;
}


/* Graphs */
img {
  max-height: 75vh;
  max-width: 125%;
}


/* Code */
pre, code, samp, kbd {
  font-family: monospace,monospace;
  color: #006;
}

pre {
  background: #eee;
  padding: 0.5em;
  overflow: auto;
}


/* Quotations */
blockquote {
  border-left: medium solid #ccc;
  margin-right: 0;
  margin-left: 0;
  padding: 0.5em;
  background: #eee;
}

blockquote *:first-child {
  margin-top: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}


/* Single column layout */
main, footer > div {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}


/* Footer */
footer {
    background: #eee;
    border-top: thin solid #ccc;
    margin-top: 1em;
    padding-top: 1.25em;
    padding-bottom: 1em;
    box-shadow: 0 100vh 0 100vh #eee;
}

footer div div {
    font-size: small;
}


/* Tables */
table.grid {
  border-collapse: collapse;
  text-align: right;
}

table.grid th, table.grid td {
  border-width: thin;
  border-style: solid;
  border-color: #666;
}

table.grid th, table.grid td {
  padding: 0.3em 0.4em;
}

table.grid td {
  white-space: nowrap;
}

.date {
  text-align: center;
}

.total, .total a:link, .total a:visited {
  color: #06c;
}

.active, .active a:link, .active a:visited {
  color: #f60;
}

.cured, .cured a:link, .cured a:visited {
  color: #393;
}

.death, .death a:link, .death a:visited {
  color: #c33;
}

.neutral {
  color: #333;
}

.ref {
  color: #666;
}

.ref a {
  font-size: small;
}
.ref sup {
  font-size: x-small;
}

.ref a:link, .ref a:visited {
  color: #666;
}

.ref a:hover, .ref a:active {
  color: #999;
}

/* Latest Update Boxes */
.latest {
  display: flex;
  justify-content: space-between;
}

.latest .total, .latest .active, .latest .cured, .latest .death {
  font-size: large;
  width: 22%;
  text-align: center;
  padding: 1em 0.1em;
  border-radius: 0.5em;
}

.latest .total {
  background: linear-gradient(#4ae, #7df);
  color: #006;
}

.latest .active {
  background: linear-gradient(#ea4, #fd7);
  color: #900;
}

.latest .cured {
  background: linear-gradient(#5b5, #8e8);
  color: #030;
}

.latest .death {
  background: linear-gradient(#e77, #faa);
  color: #600;
}

.latest a:hover, .latest a:active {
  opacity: 0.8;
}

/* FAQ */
.question {
  font-weight: bold;
}


/* Formatting */
.textcenter {
  text-align: center;
}

.footnote {
  color: #666;
  font-size: small;
}
